.chat {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .chatArea {
    width: 70%;
    height: 90%;
    border: 4px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px 0;
    .chatBox {
      height: 90%;
      width: 100%;
      padding: 3rem;
      overflow-y: scroll;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background-color: none;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: #4e4b4b;
      }

      .sentMessageDiv,
      .receivedMessageDiv,
      .infoMessageDiv {
        width: 100%;

        .sentMessage,
        .receivedMessage {
          padding: 1rem;
          max-width: 30rem;
          border-radius: 12px;
          word-break: break-all;
          .sentText {
            color: #000000;
          }

          .receivedText {
            color: #000000;
          }
        }
        .sentMessage {
          float: right;
          background-color: #d7ca5a;
        }
        .receivedMessage {
          float: left;
          background-color: #4fe0c6;
        }

        .infoMessage {
          width: 100%;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .infoText {
            font-size: 1rem;
            font-weight: 600;
            color: #c4c4c4;
          }
        }
      }
    }

    .createMessage {
      // border: 2px solid red;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      .form {
        height: 100%;
        width: 90%;
        display: flex;
        gap: 6px;
        padding: 6px;
        // margin-bottom: 1rem;
        border: 2px solid grey;
        border-radius: 8px;
        .input {
          height: 100%;
          width: 90%;
          border: none;
          outline: none;
          background-color: inherit;
          padding: 0.5px 1rem;
          font-size: 1.4rem;
          transition: all 0.3s ease;
        }

        .sendBtn {
          font-size: 1.2rem;
          padding: 0.8rem;
          border: none;
          border-radius: 5px;
          background-color: rgb(36, 174, 33);
          pointer-events: auto;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            background-color: rgb(36, 174, 33, 0.8);
          }
          &:active {
            padding: 0.79;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
